.center-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 10px;
  background-color: rgb(230, 227, 227);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.custom-link {
  border-radius: 4px;
}
.center-name:hover {
  background-color: rgb(200, 200, 200);
}
.custom-icon {
  font-size: 1.5rem;
}
.center-name-icon {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 178, 243);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 50%;
}


.center-name-text {
  width: 80%;
}

.center-name-text > div {
  margin-bottom: 5px;
}

.center-name-text > div:last-child {
  font-size: 12px;
  color: gray;
}

.nav-bar {
  margin-left: 7%;
  margin-right: 7%;
}

.element{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


.content{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.content:hover {
  background-color: rgb(231, 243, 231);
}
.content:hover p {
  color: rgb(6, 180, 58);
}

.content p {
  display: flex;
  width: 80%;
  margin-left: 5%;
  justify-content: start;
  align-items: center;
  font-weight: bold;
  color: gray;
}

.content svg {
  width: 20%;
}

.arrow-container {
  color:grey;
  width: 20%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.dropdown-container {
  margin-left: 15%;
  cursor: pointer;
}

.dropdown-container li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.dropdown-container li:hover {
  background-color: rgb(231, 243, 231);
  color: rgb(6, 180, 58);
}


.selected-list-item-button {
  background-color:rgb(215, 243, 222);
  border-radius: 30px;
  /* Thêm các thuộc tính CSS khác tùy ý */
}

.selected-list-item-button .custom-icon {
  color: black;
  border-radius: 30px;
  border: 'red';
}

.selected-list-item-button .custom-text {
  color: lightblue;
  border-radius: 30px;
}

.title {
  font-size: 16px; /* Kích thước font chữ */
  font-weight: bold; /* Độ đậm của font chữ */
  color: rgb(221, 88, 88);
  font-family: Lexend, sans-serif; /* Font chữ */
}

.subtitle {
  font-size: 18px; /* Kích thước font chữ */
  font-weight: bold; /* Độ đậm của font chữ */
  color: rgb(146, 136, 136);
  font-family: Lexend, sans-serif; /* Font chữ */
}

#ant-center {
  height: 100%; /* Chiều cao của div */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav {
  font-family: Lexend;
  display: flex;
  flex-direction: column; /* Các div con nằm trên hàng dọc */
  align-items: center; /* Căn giữa theo trục ngang */
}

.footer-element{
  font-size: 16px;
  color: grey;
  padding: 2px;
}